@using Resources
@{
    ViewBag.Title = "Home";
   
}

<style type="text/css">
    .nav-tabs-top 
    {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 10%;
        padding-left: 100px;
        padding-right: 100px;
    }

    .table
    {
        border-bottom:solid 2px #eeeeee;
    }

    a{
        font-weight:bold;
        text-align:right;
    }
</style>

<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">
   
    <div class="nav-tabs-top nav-responsive-xl">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-1">@Resources.Prepare_Concrete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-2">@Resources.Prepare_Block</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-3">@Resources.Deliver_Concrete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-4">@Resources.Deliver_Block</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-5">@Resources.Break_Concrete_Sample</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-top-responsive-link-1">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>@Resources.Factory_Name</th>
                                <th>@Resources.Visit_Location</th>
                              
                                <th>@Resources.Move</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>السلي</td>
                                <td>رؤى الحياة</td>
                                
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                       onclick="location.href='@Url.Action("ConcreteFactoryReports", "ConcreteFactoryReports")'" style="cursor:pointer"></i></td>
                            </tr>
                            <tr>
                                <td>النظيم</td>
                                <td>الحطيم</td>
                               
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"  
                                       onclick="location.href='@Url.Action("ConcreteFactoryReports", "ConcreteFactoryReports")'" style="cursor:pointer"></i></td>
                        
                            </tr>
                            <tr>
                                <td>ملهم</td>
                                <td>ستار الرياض</td>
                                           <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                       onclick="location.href='@Url.Action("ConcreteFactoryReports", "ConcreteFactoryReports")'" style="cursor:pointer"></i></td>
                            </tr>
                            <tr>
                                <td>أساس البناء</td>
                                <td>طريق مكة</td>
                               
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                       onclick="location.href='@Url.Action("ConcreteFactoryReports", "ConcreteFactoryReports")'" style="cursor:pointer"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-2">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>@Resources.Factory_Name</th>
                                <th>@Resources.Visit_Location</th>
                              
                                <th>@Resources.Move</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>السلي</td>
                                <td>رؤى الحياة</td>
                           
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                       onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i></td>
                            </tr>
                            <tr>
                                <td>النظيم</td>
                                <td>الحطيم</td>
                               
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block" 
                                         onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i></td>
                            </tr>
                            <tr>
                                <td>ملهم</td>
                                <td>ستار الرياض</td>
                             
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                         onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i></td>
                            </tr>
                            <tr>
                                <td>أساس البناء</td>
                                <td>طريق مكة</td>
                             
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                         onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-3">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>@Resources.Factory_Name</th>
                                <th>@Resources.Visit_Location</th>
                              
                                <th>@Resources.Move</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>السلي</td>
                                <td>رؤى الحياة</td>
                          
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>النظيم</td>
                                <td>الحطيم</td>
                           
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>ملهم</td>
                                <td>ستار الرياض</td>
                             
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>أساس البناء</td>
                                <td>طريق مكة</td>
                            
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-4">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>@Resources.Factory_Name</th>
                                <th>@Resources.Visit_Location</th>
                              
                                <th>@Resources.Move</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>السلي</td>
                                <td>رؤى الحياة</td>
                               
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>النظيم</td>
                                <td>الحطيم</td>
                           
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>ملهم</td>
                                <td>ستار الرياض</td>
                            
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>أساس البناء</td>
                                <td>طريق مكة</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-5">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>@Resources.Factory_Name</th>
                                <th>@Resources.Visit_Location</th>
                           
                                <th>@Resources.Move</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>السلي</td>
                                <td>رؤى الحياة</td>
                             
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                         onclick="location.href='@Url.Action("ConcreteSample", "ConcreteSample")'"  style="cursor:pointer"></i></td>
                          
                            </tr>
                            <tr>
                                <td>النظيم</td>
                                <td>الحطيم</td>
                              
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                         onclick="location.href='@Url.Action("ConcreteSample", "ConcreteSample")'"  style="cursor:pointer"></i></td>
                          
                            </tr>
                            <tr>
                                <td>ملهم</td>
                                <td>ستار الرياض</td>
                              
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                         onclick="location.href='@Url.Action("ConcreteSample", "ConcreteSample")' " style="cursor:pointer"></i></td>
                          
                            </tr>
                            <tr>
                                <td>أساس البناء</td>
                                <td>طريق مكة</td>
                            
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"
                                         onclick="location.href='@Url.Action("ConcreteSample", "ConcreteSample")" style="cursor:pointer"></i></td>
                          
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>


