
@{
    ViewBag.Title = "ConcreteSample";
}
@using Resources
<style type="text/css">
    .nav-tabs-top {
    }

    .table {
        border: solid 2px #eeeeee;
    }
</style>

<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">
    <div class="page-header  align-items-center">
        <div class="row">
            <div class="col-md-9">
                <h2 style="text-align : center">@Resources.Attend_Break_Concrete_Sample</h2>
            </div>
            <div class="col-md-3">
                <h5 style="text-align : center"> @Resources.Sample_Number 56485967</h5>
            </div>
        </div>
        
    </div>
    <div class="nav-tabs-top nav-responsive-xl" style="-ms-flex-direction: column; flex-direction: column; margin-top: 4%; padding-left: 100px; padding-right: 100px;">
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                   @Resources.Break_Concrete_Sample
                                </th>
                                <th>
                                   @Resources.Attachments
                                </th>
                                <th>
                                    @Resources.Attachments
                                </th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>
                                    54665656
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    56245896
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    65423897
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    75321456
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    85236974
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    97643157
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    25698745
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    35789654
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                                <td>
                                    <input type="file" class="form-control-file" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">@Resources.Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

