@{bool isHorizontal = ViewData["LayoutSidenavHorizontal"] != null && ViewData["LayoutSidenavHorizontal"].ToString() == "True";}
@{string currentPage = @Request.Url.AbsolutePath;}
@using Resources
<!-- Layout sidenav -->
<div id="layout-sidenav" class="@(isHorizontal ? "layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0" : "layout-sidenav sidenav-vertical") sidenav bg-sidenav-theme">
    @if (!isHorizontal)
    {

        <div class="app-brand demo">
            <span>
                @*<svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>*@
                <img src="~/Images/login_logo.jpg" style="width:45px; height:45px;" />
            </span>
            <h3 href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-3" style="padding-top:5%">@Resources.Quality_Control</h3>
            <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                <i class="ion ion-md-menu align-middle"></i>
            </a>
        </div>

        <div class="sidenav-divider mt-0"></div>
    }


    <!-- Links -->
    @if (@Session["JobTitle"].ToString() == "Admin")
    {
        <ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">
            <!-- Home -->
            <li class="sidenav-item@(currentPage == "/Home/Home" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "Home", controller = "Home" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-home"></i><div>@Resources.Home</div></a>
            </li>
            <!-- Reports -->
            <li class="sidenav-item@(currentPage.StartsWith("/ConcreteFactoryReports/") || currentPage.StartsWith("/BlockFactoryReports/") ? " active open" : "")">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-paper"></i><div>@Resources.Prepare_Samples</div></a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item@(currentPage == "/ConcreteFactoryReports/ConcreteFactoryReports" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "ConcreteFactoryReports", controller = "ConcreteFactoryReports" })" class="sidenav-link"><div>@Resources.Prepare_Concrete</div></a>
                    </li>
                    <li class="sidenav-item@(currentPage == "/BlockFactoryReports/BlockFactoryReports" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "BlockFactoryReports", controller = "BlockFactoryReports" })" class="sidenav-link"><div>@Resources.Prepare_Block</div></a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item@(currentPage == "/Factory/CreateFactory" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "CreateFactory", controller = "Factory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-add-circle"></i><div>@Resources.Signup_as_new_Factory</div></a>
            </li>
            <li class="sidenav-item@(currentPage == "/Factory/FactoriesList" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "FactoriesList", controller = "Factory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-list"></i><div>@Resources.Factories_List</div></a>
            </li>
            <li class="sidenav-item@(currentPage == "/MixingDesign/MixingDesign" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "MixingDesign", controller = "MixingDesign" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-add-circle"></i><div>@Resources.Add_Mixing_Design</div></a>
            </li>
            <li class="sidenav-item@(currentPage == "/MixingDesign/ApproveMixingDesign" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "ApproveMixingDesign", controller = "MixingDesign" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-checkmark-circle"></i><div>@Resources.Approve_Mixing_Design</div></a>
            </li>

            <li class="sidenav-item@(currentPage == "/ConcreteSample/ConcreteSample" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "ConcreteSample", controller = "ConcreteSample" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-beaker"></i><div>@Resources.Attend_Break_Concrete_Sample</div></a>
            </li>
            <li class="sidenav-item@(currentPage == "/Laboratory/Laboratory" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "Laboratory", controller = "Laboratory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-flask"></i><div>@Resources.Laboratory_Screen</div></a>
            </li>

            <li class="sidenav-item@(currentPage.StartsWith("/TestingResults/") || currentPage.StartsWith("/TestingResults/") ? " active open" : "")">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-paper"></i><div>@Resources.TestingResults</div></a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item@(currentPage == "/TestingResults/ConcreteTestingResult" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "ConcreteTestingResult", controller = "TestingResults" })" class="sidenav-link"><div>@Resources.Concrete_Testing_Result</div></a>
                    </li>
                    <li class="sidenav-item@(currentPage == "/TestingResults/BlockTestingResult" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "BlockTestingResult", controller = "TestingResults" })" class="sidenav-link"><div>@Resources.Block_Testing_Result</div></a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item@(currentPage.StartsWith("/ConcreteFactoryReports/") || currentPage.StartsWith("/BlockFactoryReports/") ? " active open" : "")">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-settings"></i><div>@Resources.Settings</div></a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item@(currentPage == "/User/CreateUser" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "CreateUser", controller = "User" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-person-add"></i><div>@Resources.Roles_and_Accounts</div></a>
                    </li>
                </ul>
            </li>
        </ul>
    }
    @if (@Session["JobTitle"].ToString() == "Factory")
    {
        <ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">
            <li class="sidenav-item@(currentPage == "/Factory/CreateFactory" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "CreateFactory", controller = "Factory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-add-circle"></i><div>@Resources.Signup_as_new_Factory</div></a>
            </li>
            <li class="sidenav-item@(currentPage == "/Factory/FactoriesList" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "FactoriesList", controller = "Factory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-list"></i><div>@Resources.Factories_List</div></a>
            </li>
            <li class="sidenav-item@(currentPage == "/MixingDesign/MixingDesign" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "MixingDesign", controller = "MixingDesign" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-add-circle"></i><div>@Resources.Add_Mixing_Design</div></a>
            </li>
            
        </ul>
    }
    @if (@Session["JobTitle"].ToString() == "Doctor")
    {
        <ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">
           
            <li class="sidenav-item@(currentPage == "/Laboratory/Laboratory" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "Laboratory", controller = "Laboratory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-flask"></i><div>@Resources.Laboratory_Screen</div></a>
            </li>

            <li class="sidenav-item@(currentPage.StartsWith("/TestingResults/") || currentPage.StartsWith("/TestingResults/") ? " active open" : "")">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-paper"></i><div>@Resources.TestingResults</div></a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item@(currentPage == "/TestingResults/ConcreteTestingResult" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "ConcreteTestingResult", controller = "TestingResults" })" class="sidenav-link"><div>@Resources.Concrete_Testing_Result</div></a>
                    </li>
                    <li class="sidenav-item@(currentPage == "/TestingResults/BlockTestingResult" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "BlockTestingResult", controller = "TestingResults" })" class="sidenav-link"><div>@Resources.Block_Testing_Result</div></a>
                    </li>
                </ul>
            </li>
           
        </ul>
    }
    @if (@Session["JobTitle"].ToString() == "Monitor")
    {
        <ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">
            <!-- Home -->
            <li class="sidenav-item@(currentPage == "/Home/Home" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "Home", controller = "Home" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-home"></i><div>@Resources.Home</div></a>
            </li>
            <!-- Reports -->
            <li class="sidenav-item@(currentPage.StartsWith("/ConcreteFactoryReports/") || currentPage.StartsWith("/BlockFactoryReports/") ? " active open" : "")">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-paper"></i><div>@Resources.Prepare_Samples</div></a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item@(currentPage == "/ConcreteFactoryReports/ConcreteFactoryReports" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "ConcreteFactoryReports", controller = "ConcreteFactoryReports" })" class="sidenav-link"><div>@Resources.Prepare_Concrete</div></a>
                    </li>
                    <li class="sidenav-item@(currentPage == "/BlockFactoryReports/BlockFactoryReports" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "BlockFactoryReports", controller = "BlockFactoryReports" })" class="sidenav-link"><div>@Resources.Prepare_Block</div></a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item@(currentPage == "/ConcreteSample/ConcreteSample" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "ConcreteSample", controller = "ConcreteSample" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-beaker"></i><div>@Resources.Attend_Break_Concrete_Sample</div></a>
            </li>
        
        </ul>
    }
</div>
<!-- / Layout sidenav -->
